* {
    box-sizing: border-box;
}

body {
    margin: 1;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: small;
}
.ui-panelgrid {
	font-size: small;
}
.ui-widget {
	font-size: small;
}
.separator {
    border-top: 1px dotted #bfbfbf
}
/* Style the header */
.header {
	width: 100%;
	height: 60px;
	padding: 2px;
    text-align      : center;
    background-image: url("../img/logo.gif");
    background-repeat: no-repeat;
    background-color: #CCC;
    background-origin: content-box;
}
.header h1 {
    font-size: 24px;
    padding-bottom: 16px;
    font-weight: 700;
    letter-spacing: 0;
    color: #0000a0
}
.logo {
    display: inline-block;
    line-height: 1;
    vertical-align: middle
}

/* Style the top navigation bar */
.topnav {
    text-align     : left;
}

.content {
    width: 100%;
    background: var(--surface-e);
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 5px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-repeat: no-repeat;
    
    background-color: #ffffff	;
}

.content h2{
	font-size: 20px;
	text-align: center;
	color: white;
	}

.footer {
  text-align: center;
  padding: 5px;
}

.footer h5 {
    font-size: 14px;
    padding-bottom: 16px;
    font-weight: 500;
    letter-spacing: 0;
    color: #0000a0
}